.header {
  grid-area: h;
  background-color: yellow;
}

.logo {
  width: 150px;
}

.login {
  margin-left: 1000px;
  margin-bottom: 400px;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  background-color: deeppink;
  color: antiquewhite;
}
