.app-wrapper {
  display: grid;
  margin: 0 auto;

  grid-template-areas:
    "sT h"
    "n p";

  grid-template-rows: 85px 1fr;
  grid-template-columns: 200px 1fr;
}

.app-wrapper-content{
  grid-area: p;
  background-color: seashell;
}
